<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="./img/zen.jpeg" alt="Otw", class="img-thumbnail-rounded-circle" width="200">
            <h1 class="display-4">Zaeni Hilman Darmawan</h1>
            <p class="lead">Pegawe Terbaik</p>
        </div>
    </div>
</div>